@charset "UTF-8";

@media (max-width:960px){
  
    .contheaderimg{
        width: 40px;
        display: block;
    }
    
    .header_container_menu{
        margin-right: 20px ;
    }
       
    #btnMobile{
          border-top: 2px solid;
          width: 30px;
          margin-top: 30px;
          color: #f20954;
          cursor: pointer;
        }  
    
        #btnMobile::after , #btnMobile::before{
          content: '';
          display: block;
          width: 30px;
          height: 2px;
          background: currentColor;
          margin-top:5px;
          transition: .3s;
          position: relative;
       }
    
    .interface_menu{
        background-color: #191B1E;
        margin-top: -50px;
        margin-left: -200px;
        position: fixed;
        z-index: 99;
        left: -330px;
        overflow: hidden;
        width: 350px;
        height: 1200px;
        transition: 2s;   
   
    }

    .interfaceMenuOpen{
        left: 130px;
       
    }
    .interfaceMenuclose{
        left: -330px;
     
    }
    
    .btnMobileOpen{
        display: none;
    }
    
    .btnMobileClose{
        display: block;
    }

    
    #btnMobileClose{
        position: relative;
        top: 70px;
        font-size: 18pt;
        left: 300px;
        cursor: pointer;
    }
    
    #nav{
        display: none;  
    }
    .logo1{
        display: none;
    }
 
    


.interface_menu_titulo{
    display: block;
    position: relative;
    top: 70px;
    left: 80px;
     height: 120px;
     border-bottom: 1px solid #ffffff1a;
}

.interface_menu_titulo_menu{
    position: relative;
    top: 100px;
    left: 70px;
    height: 230px;
    border-bottom: 1px solid #ffffff1a;

}

.interface_menu_titulo_menu > li {
    font-size: 14pt;
    text-transform: uppercase;
    list-style: none;
    padding: 10px;
    color: #C4CFDE;
    cursor: pointer;
}

.interface_menu_titulo_menu > li:hover {
    color: rgb(9, 245, 9);
}

.interface_menu_titulo_redes{
    display: inline-flex;
    position: relative;   
    top: 150px;
    left: 70px;
}

.interface_menu_titulo_redes > li {    list-style: none;}

.interface_menu_titulo_redes > li > a > img{
    width: 70px;
    cursor: pointer;
}
}

@media(min-width: 961px){
    .interface_menu{
        display: none;
    }



    
}

