@charset "UTF-8";

@media (max-width:745px){
  
    .contheaderimg{
        width: 40px;
        display: block;
    }
    
    
    #btn-mobile{
        display: flex;
        margin-top: 30px;
        margin-left: -10px;
        color: white;  
        border: none;
        background: none;
        cursor: pointer;
    }
    
    
    
      #stylebotao{
          border-top: 2px solid;
          width: 30px;
          color: #f20954;
      }  
    
      #stylebotao::after , #stylebotao::before{
          content: '';
          display: block;
          width: 30px;
          height: 2px;
          background: currentColor;
          margin-top:5px;
          transition: .3s;
          position: relative;
      }
    
    
    .active > #btn-mobile > #stylebotao{
        border-top-color: transparent;
        margin-left: -20px;
        
    }
    
    
     .active > #btn-mobile> #stylebotao::before {
           transform: rotate(135deg);
           width: 40px;
           height: 3px;
           color: red;
     }
     .active >#btn-mobile> #stylebotao::after {
        transform: rotate(-135deg);
        width: 40px;
        height: 3px;
        color: red;
        top: -7px;   
    }
    
    
    .menu{
        margin: 0px;
        top: 0px;
        right: -500px;
        height: 0vh;
        visibility: hidden;
    }
    

    .active > .menu {
        display: block;
        background-color: rgb(34, 34, 34);
        width: 300px;
        height: 100vh;
        right: 0px;
        visibility: visible;
        margin-left: -200px;
        margin-top: -70px;
        overflow-y: auto;
        transition: 0.6s;
    
    }
    
    .active > .menu > div{
        display: block;
        margin-left: 80px;
        margin-top: 140px;
    }
    
    
    
    .active > .menu > div > li > a> img {
        width: 90px;
    }
    
    
    
    
    
    
    
    
    
    
}    