@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: personalizada;
    src: url('../font/Kardust.otf') format('opentype'), url('../font/KardustBold.otf') format('opentype');
}


/* ---------------------------------- HEADER ------------------------------------- */

.header_container{
    width: 100%;
    height: 70px;
    display: inline-flex;
    z-index: 99;
    position: fixed;
    justify-content: space-between;
    background-color: #121214;
   border-bottom: 2px solid #340f0f;
}

.header_container_logo{
    margin-left: 10px;
}


.logo1{
    width: 60px;
    margin-top: 10px;
    margin-left: 30px;   
}
.logo2{
    width: 260px;
    margin: 0px;
}

.header_menu{
    color: white;
    display: inline-flex;
    list-style: none;
    margin-top: 10px;
    
}

.header_menu > li {
    padding: 15px;
   
}

.header_menu > li > a {
    font-size: 16pt;
    cursor: pointer;
    
}

.header_menu > li > a:hover {
    color: rgb(2, 255, 2);
    
}
/*------------------------------ Primeira SESSAO Descriçao -------------------------------- */


.sessao1{
    background-color:  #000002;
     width: 100%;
     height: 900px;
    }

    @media(max-width:960px){
        .sessao1{height: 740px;}
    }

#sessao1img{
    display: block; 
    margin: auto; 
    margin-top: -30px;
    width: 70%;
    object-fit: cover;
} 




.sessao1 > .botaoresponsividade > button{
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    border: none;
    margin-right: auto;
    background-color: #16161a;
    color: #FF014F;
    font-size: 24pt;
    font-family: personalizada, Arial, Helvetica, sans-serif;
}

.botaoresponsividade{
    display: flex;
    position: relative;
    top: 220px;
}

.sessao1 > .botaoresponsividade > button:hover{
    color: #04f804;
}



#h1_quemsoueu{
    color: white;
   
    font-family: personalizada;
    font-size: 3.8rem;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    position: relative;
    top: 230px;
   
    box-sizing: border-box;
  
}

@media(max-width:960px){   
    #sessao1img{
        width: 100%;
        height: 50%;
      
    }

     .botaoresponsividade {
        display: flex;
        position: relative;
        top: 150px;
     }

     #h1_quemsoueu {
       
        font-size: 3rem;
        top: 140px;
      


}

}

/* ------------------------------- Sobre  mim -------------------------------*/

.sessaosobre{
    width: 100%;
    height: 640px;
    background-color: rgb(0, 0, 0);
}

.who_im{
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'personalizada';
    padding-top: 40px;
    
}

.sessaosobre_img{
    width: 120px;
    position: relative;
    left: 230px;
    top: 60px;
}

.sessaosobre_txt{
    display: inline-flex;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    text-indent: 20px;
    text-align: justify;
    padding-left: 370px;
    padding-right: 170px;
}

@media(max-width:960px){
  .sessaosobre_img{ position: relative;
    width: 90px;
    top: 40px;
    left: 0px;
} 

.sessaosobre_txt{
    display: inline-flex;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    text-indent: 50px;
    text-align: justify;
    padding-top: -50px;
    padding: 10px;
    padding-left: auto;
    padding-right: 20px;
    padding-top: 40px;
    padding-left: 20px;
    width: auto;
    margin: 0px;
}
}




















/* ---------------------------------- Segunda Sessao ------------------------------- */

.sessao2{
background-color: #0a0a0a;
 width: 100%;
 height: 680px;
}

.sessao2 > h1{
    display: flex;
    font-family: personalizada, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding: 30px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}

.contconhecimento{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contconhecimentohead{
    background-color: #000002;
    height: 400px;
    border: 1px solid;
    box-shadow: 10px 9px 13px #340f0f;
}



.contconhecimentoimg{
    width: 80%;
    display: block;
    margin: auto;
}

.contconhecimentoimg > img{
    width: 100%;
}

.contconhecimentotxt{
    color: white;
    width: 100%;
    margin: auto;
}

.contconhecimentotxt > p{
    color: white;
    font-size: 12pt;
    text-align: center;
}
/*----------------------------- terceira sessao  -------------------------------------------*/
.sessao3{
    width: 100%;
    height: 700px;
    background-color:#0a0a0a;
}
@media (max-width: 960px){
    .sessao3{
        width: 100%;
        height: 1900px;
    }
}


.sessao3 > h1{
    display: flex;
    font-family: personalizada, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding: 30px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: white; 
    margin-bottom: 40px;
}

.contprojeto{
    display: inline-grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat( auto-fit, minmax(220px, 1fr));
    column-gap: 20px;
     row-gap: 10px;
      width: 100%;
}

.projeto{
    background-color: #121214;
    box-shadow: 10px 9px 13px #340f0f;
    border: 1px solid;
    width: 250px;
    height: 360px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}  

.projeto:hover{
    transform: scale(1.1);
}

.imgtamanho{
    width: 100%;
}

.projeto > a > .imgtamanho > img{
    width: 100%;
    height: 210px;
    object-position: left;
    object-fit: cover;
}

.projeto > a{
    text-decoration: none;

}


.texto{
    display: block;
    width: 100%;
  
}

.texto > h1 {
    color: #720528;
    text-shadow: 2px 2px 2px black;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.texto > h2 {
    color: #b18989;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1rem;
}

.texto > h3{
    color: #b18989;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1rem;
}


/* ---------------------------- quartao sessa ----------------------------------------------- */
.sessao4{
    width: 100%;
    height: 480px;
    background-color: #0a0a0a;
}

.sessao4 > h1{

    margin-bottom: 40px;
    display: flex;
    font-family: personalizada, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding: 30px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}

/* ------------------------------ FOOTER-------------------------------------*/
footer{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p{
    color: white;
    text-align: center;
}

body{
    background-color: #16161a;
   
}





/* ------------------------------------------- Habiliade --------------------- */
.sessao_habilidade{
    width: 100%;
   height: 900px;
   background-color: #000002;
}

@media(max-width:960px){
    .sessao_habilidade{
        height: 1000px;
    }
}

.sessao_habilidade_titulo{
   color: white;
   text-shadow: 2px 2px 4px black;
   text-align: center;
   font-size: 2.5rem;
   font-family: 'personalizada';
   padding-top: 40px;
}


.caixa_texto{
   display: block;
   margin: auto;
   margin-top: 100px;
   width: 850px;
   height: 399px;
   background-color: #2A2D34;
}

@media(max-width:960px){
  .caixa_texto{
   display: block;
   margin: auto;
   margin-top: 50px;
   width: 400px;
   height: 520px;
   background-color: #2A2D34;
  }

}

.head_texto{
   display: inline-flex;
   background-color: #646872;
   width: 100%;
   height: 60px;
   font-size: 16pt;
   color:white;
   font-weight: bold
}

#body_texto{
   color: white;
   text-align: center;
   margin-top: 40px;
}

#body_texto{
   display: grid;
   grid-template-columns: repeat(3, 1.5fr);
   grid-column-gap: 16px;
   grid-row-gap: 2em;
   grid-template-columns: 1;
   padding: 10px;
}

#body_texto2{
   grid-template-columns: 1;
   display: block;
   margin: 40px;
   margin: 10px auto 0px auto;
   width: 300px;
   text-align: cetert;
   padding: 10px;
   color: #FF014F;
}

.body_texto_div2{
   box-shadow: 2px 2px 4px black;
   border-radius: 4px;
   display: block;
   background-color: #1E2124;
   margin: 6px;
}

.body_texto_div{
   box-shadow: 2px 2px 4px black;
   border-radius: 4px;
   display: block;
   background-color: #1E2124;
}

.body_texto_div_h1{
   font-size: 1.4rem;
   text-align: center;
   padding-bottom: 15px;
   padding-top: 10px;
   text-shadow: 2px 2px 4px black;
}

.body_texto_div_h2{
   font-size: 1.2rem;
   text-shadow: 2px 2px 4px black;
   padding-bottom: 10px;
   color: #7C838E;
}

.body_texto_div_h3{
 color: #FF014F;
}