@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: personalizada;
    src: url('../font/Kardust.otf') format('opentype'), url('../font/KardustBold.otf') format('opentype');
}


/* ---------------------------------- HEADER ------------------------------------- */

.contheader{
   width: 100%;
   height: 70px;
   z-index: 2000;
   position: fixed;
   margin: 0 auto;
   background-color: #121214;
   border-bottom: 2px solid #340f0f;
}

.logo1{
    width: 70px;
    margin-top: 10px;
    margin-left: 30px;   
}
.logo2{
    width: 300px;
    margin: 0px;
}

.contheader > nav{
    display: flex;
    justify-content: space-between;
    
}
.contheaderimg > .menu > div{
    display: inline-flex;
    list-style: none;
    margin-top: 10px;
    margin-right: 40px;
}

.contheaderimg > .menu >div >  li > a > img{
    width: 70px;
}

#btn-mobile{
    display: none;
}

/*------------------------------ Primeira SESSAO Descriçao -------------------------------- */

.sessao1{
    background-color:  #000002;
     width: 100%;
     height: 900px;
    }

#sessao1img{
    display: block; 
    margin: auto; 
    margin-top: 100px; 
    width: 70%; 
    object-fit: cover;
} 

.sessao1 > .botaoresponsividade > button{
    cursor: pointer; 
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #16161a; 
    color:#f5070f;  
    font-size: 24pt; 
    font-family:personalizada, Arial, Helvetica, sans-serif; 
}

.botaoresponsividade{
    display: flex;
    position: relative;
    top: 90px;
}

.sessao1 > .botaoresponsividade > button:hover{
    color: #04f804;
}

.contsessao1{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411);
    position: fixed;
    z-index: 2;
    top: 0;
    display: none;
    transition: 350ms;
}

.descriçao{
    width: 60%;
    height: 70%;
    background-color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 100px;
    transition: 350ms;
    border-radius: 20px;
    padding: 60px;
}

.descriçao > div  {
    display: flex;
}

.descriçao > div > p {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16pt;
    margin-top: 20px;
    margin: auto;
    transition: 350ms;
}

.descriçao > span {
    float: right;
    font-size: 50px;
    color: white;
    display: block;
    margin-top: -60px;
    margin-right: -40px;
    transition: 350ms;
    cursor: pointer;
}

.descriçao > span:hover {
   color:#04f804    
}

/* ---------------------------------- Segunda Sessao ------------------------------- */

.sessao2{
background-color: #0a0a0a;
 width: 100%;
 height: 680px;
}

.sessao2 > h1{
    display: flex;
    font-family: personalizada, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding: 30px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}

.contconhecimento{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contconhecimentohead{
    background-color: #000002;
    height: 400px;
    border: 1px solid;
    box-shadow: 10px 9px 13px #340f0f;
}



.contconhecimentoimg{
    width: 80%;
    display: block;
    margin: auto;
}

.contconhecimentoimg > img{
    width: 100%;
}

.contconhecimentotxt{
    color: white;
    width: 100%;
    margin: auto;
}

.contconhecimentotxt > p{
    color: white;
    font-size: 12pt;
    text-align: center;
}
/*----------------------------- terceira sessao  -------------------------------------------*/
.sessao3{
    width: 100%;
    height: 700px;
    background-color: #000000;
}

.sessao3 > h1{
    display: flex;
    font-family: personalizada, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding: 30px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: white; 
    margin-bottom: 40px;
}

.contprojeto{
    display: inline-grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat( auto-fit, minmax(220px, 1fr));
    column-gap: 20px;
     row-gap: 10px;
      width: 100%;
}

.projeto{
    background-color: #121214;
    box-shadow: 10px 9px 13px #340f0f;
    border: 1px solid;
    width: 250px;
    height: 360px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}  

.projeto:hover{
    transform: scale(1.1);
}

.imgtamanho{
    width: 100%;
}

.projeto > .imgtamanho > img{
    width: 100%;
    height: 210px;
    object-position: left;
    object-fit: cover;
}


.texto{
    display: block;
    width: 100%;
  
}

.texto > h1 {
    color: #720528;
    text-shadow: 2px 2px 2px black;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.texto > h2 {
    color: #b18989;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1rem;
}

.texto > h3{
    color: #b18989;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1rem;
}


/* ---------------------------- quartao sessa ----------------------------------------------- */
.sessao4{
    width: 100%;
    height: 480px;
    background-color: #0a0a0a;
}

.sessao4 > h1{

    margin-bottom: 40px;
    display: flex;
    font-family: personalizada, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding: 30px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}

/* ------------------------------ FOOTER-------------------------------------*/
footer{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p{
    color: white;
    text-align: center;
}

body{
    background-color: #16161a;
   
}





