@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: personalizada;
    src: url('../font/Kardust.otf') format('opentype'), url('../font/KardustBold.otf') format('opentype');
}


/* ---------------------------------- HEADER ------------------------------------- */
.header_container{
    width: 100%;
    height: 70px;
    display: inline-flex;
    z-index: 99;
    position: fixed;
    justify-content: space-between;
    background-color: #121214;
   border-bottom: 2px solid #340f0f;
}

.header_container_logo{
    margin-left: 10px;
}


.logo1{
    width: 60px;
    margin-top: 10px;
    margin-left: 30px;   
}
.logo2{
    width: 260px;
    margin-top: 10px;
}

.header_menu{
    color: white;
    display: inline-flex;
    list-style: none;
    margin-top: 10px;
    
}

.header_menu > li {
    padding: 15px;
   
}

.header_menu > li  {
    font-size: 16pt;
    cursor: pointer;
    
}

.header_menu > li:hover {
    color: rgb(2, 255, 2);
    
}

/*------------------------------ Primeira SESSAO Descriçao -------------------------------- */
#sessao1{
    background-color:  #000002;
     width: 100%;
     height: 900px;
    }

    @media(max-width:960px){
        #sessao1{height: 740px;}
    }

#sessao1img{
    display: block; 
    margin: auto; 
    margin-top: -30px;
    width: 70%;
    object-fit: cover;
} 

#sessao1 > .botaoresponsividade > button  {
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    border: none;
    margin-right: auto;
    background-color: #16161a;
    color: #FF014F;
    font-size: 24pt;
    font-family: personalizada, Arial, Helvetica, sans-serif;
}

#sessao1 > .botaoresponsividade > button > a {
    text-decoration: none;
    color: #FF014F;
}

.botaoresponsividade  {
    display: flex;
    position: relative;
    top: 220px;
}

#sessao1 > .botaoresponsividade > button > a:hover{
    color: #04f804;
}

#h1_quemsoueu{
    color: white;
   
    font-family: personalizada;
    font-size: 3.8rem;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    position: relative;
    top: 230px;
    box-sizing: border-box;
  
}

@media(max-width:960px){   
    #sessao1img{
        width: 100%;
        height: 50%; 
    }

     .botaoresponsividade {
        display: flex;
        position: relative;
        top: 150px;
     }

     #h1_quemsoueu {
       
        font-size: 3rem;
        top: 140px;
}

}

/* ------------------------------ FOOTER-------------------------------------*/
footer{
    background-color: black;
    height: 40px;
    display: block;
    align-items: center;
}
footer > p{
    color: white;
    text-align: center;
}
body{
    background-color: #16161a; 
}

/*====================================== formulario */

#sessaoFormulario{
    background-color: #0a0a0a;
    width: 100%;
    height: 2100px;
}

.contFormulario{
    background-color: #212428;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
    font-family: personalizado;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    height: 790px;
    padding: 50px;
}

.form-group > label{
    font-size: 12px;
    color: #a0a8b3;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    margin-bottom: 14px;
    text-align: left;
    display: block;
}

form > button{
    display: flex;
    margin: auto;
}

.formInput{
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    width: 100%;
    transition: var(--transition);
    border: 2px solid #191b1e;
    padding: 0 15px;
    font-size: 14px;
    font-family: var(--font-secondary);
    color: var(--color-lightn);
    box-shadow: var(--inner-shadow);
    letter-spacing: 1px;
}

#inputEmail{
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    width: 100%;
    transition: var(--transition);
    border: 2px solid #191b1e;
    padding: 0 15px;
    font-size: 14px;
    font-family: var(--font-secondary);
    color: var(--color-lightn);
    box-shadow: var(--inner-shadow);
    letter-spacing: 1px;
}

#inputPassword{
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    width: 100%;
    transition: var(--transition);
    border: 2px solid #191b1e;
    padding: 0 15px;
    font-size: 14px;
    font-family: var(--font-secondary);
    color: var(--color-lightn);
    box-shadow: var(--inner-shadow);
    letter-spacing: 1px;
}

#submit{
    height: 200px;
}

#button{
    display: block;
    width: 70%;
    padding: 20px;
    background-color:#191b1e ;
    border: 1px solid #00000265;
    margin: auto;
    color: #ff014f;
}
#button:hover{
     color: #04f804;
     border: 1px solid #04f804;
     transform: scale(1.1);
}


@media(max-width: 550px){
  
  .contFormulario{
      width: 90%;
      height: 920px;}
    #button{
      width: 90%;}
}


/*   formulario > redes ===========*/
.contInfo{
    background-color: #212428;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
    font-family: personalizado;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
}

.info{
    display: flex;
    color: #C4CFDE;
}

.info > h1{
    font-size: 1.3rem;
    font-family: presonalizada;
}

.contInfoRedeLogo{
    display: flex;
}

.contInfoRedeLogo > a{
    display: block;
    width: 70px;
    margin-left: 10px;
}

.redeLogo > img {
width: 70px;
}
    
 .redeLogo{  
    background-color: #00000054;
    border-radius: 15px;
 }

 .redeLogo:hover{
    transform: scale(1.1);
 }

 @media(max-width: 385px){

    .contInfoHeader > div > h1{
        font-size: 3rem;
     }
     .info > h1{
        font-size: 1rem;
     }
     .redeLogo > img{
        width: 100%;
    }
 }
 .contInfo{
    width: 90%;
    height: 650px;

}
 .info{ margin-bottom: 30px;}
 .info > span > img{
     width: 100%;
 }
 .info > span{
     width: 10%;
     margin-right: 20px;
 }
 .contInfoRede{
     margin-left: -20px;
 }
 
@media( min-width: 386px) and (max-width: 549px){
.contInfoHeader > div > h1{
   display: table-caption;
   font-size: 4rem;}
}

@media(min-width: 550px){
    .contInfo{
        width:60%;
        height: 470px;
    }  
    .contInfoHeader > div{
        display:block;
    } 
    .info{
        margin-bottom: 0px;
    }
    .info > span{
        width: 10%;
        margin-right: 0px;
    } 
    .info > span > img{
        width: 55%;
    }
    .contInfoRedeLogo{
        margin-top: 40px;
    }
    }
    @media(min-width:1141px){
        .info{
            margin-bottom: 20px;
        } 
    }